<% content_for :title do %>
About -- 
<% end %>

<h1>About</h1>


<p>cz.chen: python, ruby, mac...</p>
<p>Aug. 2010 - Present, &nbsp;<a href="http://www.r-pac.com/main.html" target="_blank">www.r-pac.com</a>(ShenZhen, China): python programmer</p>
<p>Email: xieren58 at gmail dot com</p>
<p>Google+: &nbsp;<a target="_blank" href="https://plus.google.com/111479995165802014037">CZ</a></p>

<br/><br/>

<div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
    var disqus_shortname = 'cozblog'; // required: replace example with your forum shortname

    // The following are highly recommended additional parameters. Remove the slashes in front to use.
    // var disqus_identifier = 'unique_dynamic_id_1234';
    // var disqus_url = 'http://example.com/permalink-to-page.html';

    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>



<% content_for :sidebar do %>
  <h2>Tags</h2>
    <ul>
      <% tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class| %>
      <li><%= link_to tag.name, tags_path(:tag => tag.name), :class => css_class %>(<%= tag.count %>)</li>
     <% end %>
    </ul>
<% end %>
